vendor/*
cmd/inmap/testdata/preproc/gemmach/processed/
.DS_STORE
cmd/inmap/testdata/preproc/gemmach/**
cmd/inmap/testdata/preproc/gemmach/gemmach_poptest_2016/**
cmd/inmap/testdata/preproc/gemmach_poptest_2016/inmap_can_pop_DA_lcc.cpg
cmd/inmap/testdata/preproc/gemmach_poptest_2016/inmap_can_pop_DA_lcc.dbf
cmd/inmap/testdata/preproc/gemmach_poptest_2016/inmap_can_pop_DA_lcc.prj
cmd/inmap/testdata/preproc/gemmach_poptest_2016/inmap_can_pop_DA_lcc.qmd
cmd/inmap/testdata/preproc/gemmach_poptest_2016/inmap_can_pop_DA_lcc.shp
cmd/inmap/testdata/preproc/gemmach_poptest_2016/inmap_can_pop_DA_lcc.shx
cmd/inmap/testdata/preproc/gemmach_poptest_2016/poptest2016.dbf
cmd/inmap/testdata/preproc/gemmach_poptest_2016/poptest2016.prj
cmd/inmap/testdata/preproc/gemmach_poptest_2016/poptest2016.shp
cmd/inmap/testdata/preproc/gemmach_poptest_2016/poptest2016.shx
cmd/inmap/testdata/preproc/gemmach_poptest_2016/poptest2016_lcc.dbf
cmd/inmap/testdata/preproc/gemmach_poptest_2016/poptest2016_lcc.prj
cmd/inmap/testdata/preproc/gemmach_poptest_2016/poptest2016_lcc.shp
cmd/inmap/testdata/preproc/gemmach_poptest_2016/poptest2016_lcc.shx
cmd/inmap/testdata/preproc/gemmach_poptest_2016/poptest2016_wgs84.dbf
cmd/inmap/testdata/preproc/gemmach_poptest_2016/poptest2016_wgs84.prj
cmd/inmap/testdata/preproc/gemmach_poptest_2016/poptest2016_wgs84.shp
cmd/inmap/testdata/preproc/gemmach_poptest_2016/poptest2016_wgs84.shx
